@use 'base/variables' as v;
@use 'base/mixins' as m;

.bg-amarillo{
    background-color: v.$amarillo;
}

.bg-verde{
    background-color: v.$verde;
}

.bg-rosa{
    background-color: v.$rosa;
}

.bg-morado{
    background-color: v.$morado;
}

.bg-blanco{
    background-color: v.$blanco;
}