@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos{
    padding: 5rem 0;

    h3{
        text-align: center;
        color: v.$blanco;
        margin-bottom: 3rem; 
    }
}

.contenedor-boletos{
    @include m.tablet{
        @include m.grid(2, 5rem);
    }
}

.pase{

    .nombre-pase{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: v.$blanco;
    }

    &-header{
        background-color: v.$rosa;
    }

    &-body{
        background-color: v.$blanco;
        padding: 0;

        .incluido-por-boleto{
            @include m.resetearLista;

            li:nth-child(odd){
                background-color: darken($color: v.$blanco, $amount: 20%);
                border-bottom: solid 2px v.$gris-claro;
            }

            li{
                font-size: 2rem;
                padding: 2rem 1rem;
            }
        }
    }

    &-footer{
        background-color: v.$morado;
    }

    &-header,
    &-footer{
        padding: 0.5rem;
        p{
            text-align: center;
            color: v.$blanco;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

}