@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-festival{
    display: flex;
    flex-wrap: wrap;
    
    @include m.desktop{
        @include m.grid(2, 5rem);
    }

    margin: 5rem auto;
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        margin: 2rem 0 1rem 0;
        font-weight: 700;
    }
    p{
        font-size: 2.2rem;
        margin: 0;
        padding: 0;
    }

    .fecha{
        line-height: 5;;
        font-weight: 700;
        color: v.$rosa;
    }
}