@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-video{
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;

    .overlay{
        position: absolute;
        background: rgb(167,1,164);
        background: linear-gradient(306deg, rgba(167,1,164,0.3) 0%, rgba(12,1,254,0.3) 100%);
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video{
        width: auto;
        display: block;

        @include m.desktop{
            width: 100%;
        }
    }
}

.contenido-video{
    z-index: 1;
    h2{
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }
    
    p{
        margin: 0;
        color: v.$negro;
        background-color: v.$rosa;
        display: inline-block;
        font-weight: 700;
        padding: 1rem 2rem;
    }
}